* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: #BAD7E9;
  padding: 2rem;
  border-radius: 0.5rem;
  min-width: 500px;
  height: 750px;
  width: 100%;
  overflow: scroll;
}

.header {
  margin-bottom: 1.5rem;
}

.title {
  color: #2B3467;
  font-size: 2.8rem;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.input, .button-add {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;  
  padding: 0.8rem;
  color: rgb(43, 52, 103);
  background-color: rgba(255, 255, 255, 0.9);
}

.input {
  width: 85%;
}

.button-add {
  width: 12%;
  font-weight: 700;
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  justify-content: space-between;
}

.todo p {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bold;
  color: rgba(43, 52, 103, 0.9);
}

.button {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.button button {
  border: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-completed {
  background-color: rgba(0, 130, 0, 0.8);
  color: rgba(255, 255, 255, 1);
}

.button .button-complete {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 130, 0, 1);
}

.button .button-edit {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 165, 0, 1);
}

.button .button-delete {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 0, 0, 1);

}

.complete {
  background-color: rgba(92, 255, 92, 0.8);
}

.button-complete:is(:hover, :active) {
  background-color: rgba(0, 130, 0, 0.8);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.button-edit:is(:hover, :focus, :active) {
  background-color: rgba(255, 165, 0, 0.8);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.button-delete:is(:hover, :active) {
  background-color: rgba(255, 0, 0, 0.8);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.button-add:is(:hover, :active) {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(43, 52, 103, 0.8)
}
